In [353]:
import pandas as pd
import json, os
import numpy as np

pd.set_option('display.max_columns', 500)

In [2]:
data_dir = os.path.join(os.path.dirname(os.getcwd()),'data')
data_dir

'/Users/jiristodulka/GoogleDrive/GitHub/Netflix_Movie_Filter/data'

In [31]:
file_path = os.path.join(data_dir, "imdb_scraped_less.txt")
df = pd.read_json(file_path, orient = 'records')

In [32]:
print(df.shape)
print(df.columns)

(65406, 16)
Index(['title', 'rating', 'year', 'users_rating', 'votes', 'metascore',
       'img_url', 'countries', 'languages', 'actors', 'genre', 'tagline',
       'description', 'directors', 'runtime', 'imdb_url'],
      dtype='object')

In [41]:
votes = [s.replace(',', '') if s is not None else None for s in df.votes]
df['votes_int'] = pd.to_numeric(votes, errors='coerce')

In [306]:
df.votes_int.value_counts(normalize = True)[:20]

6.0     0.020029
7.0     0.019555
8.0     0.018439
9.0     0.016926
10.0    0.016559
11.0    0.014357
12.0    0.012981
5.0     0.012446
13.0    0.011788
14.0    0.010886
15.0    0.010091
16.0    0.009006
17.0    0.008944
18.0    0.008302
19.0    0.007782
20.0    0.007003
Name: votes_int, dtype: float64

In [425]:
df_filtered = df[(df.users_rating >= 2.0) & (df.votes_int >= 20000)]

In [426]:
df_filtered.head()

,title,rating,year,users_rating,votes,metascore,img_url,countries,languages,actors,genre,tagline,description,directors,runtime,imdb_url,votes_int
0,For Love of the Game,PG-13,1999.0,6.6,"31,110",43.0,https://m.media-amazon.com/images/M/MV5BZDgzY2...,[USA],[English],"[Kevin Costner, Kelly Preston, John C. Reilly,...","[Drama, Romance, Sport]",Billy Chapel must choose between the woman he ...,After 19 years of playing the game he's loved ...,[Sam Raimi],137 min,https://www.imdb.com/title/tt0126916/,31110.0
1,Tombstone,R,1993.0,7.8,"122,341",50.0,https://m.media-amazon.com/images/M/MV5BODRkYz...,[USA],"[English, Latin]","[Kurt Russell, Val Kilmer, Sam Elliott, Bill P...","[Action, Biography, Drama, History, Western]",I'm your huckleberry!,A successful lawman's plans to retire anonymou...,"[George P. Cosmatos, Kevin Jarre]",130 min,https://www.imdb.com/title/tt0108358/,122341.0
2,Sleepy Hollow,R,1999.0,7.3,"321,559",65.0,https://m.media-amazon.com/images/M/MV5BMTQ4Yj...,"[Germany, USA]","[English, Latin]","[Johnny Depp, Christina Ricci, Miranda Richard...","[Fantasy, Horror, Mystery]",Close Your Eyes. Say Your Prayers. Sleep If ...,Ichabod Crane is sent to Sleepy Hollow to inve...,[Tim Burton],105 min,https://www.imdb.com/title/tt0162661/,321559.0
3,Whiplash,R,2014.0,8.5,"685,087",88.0,https://m.media-amazon.com/images/M/MV5BOTA5ND...,[USA],[English],"[Miles Teller, J.K. Simmons, Paul Reiser, Meli...","[Drama, Music]",The road to greatness can take you to the edge,A promising young drummer enrolls at a cut-thr...,[Damien Chazelle],106 min,https://www.imdb.com/title/tt2582802/,685087.0
4,The Lord of the Rings: The Return of the King,PG-13,2003.0,8.9,"1,596,400",94.0,https://m.media-amazon.com/images/M/MV5BNzA5ZD...,"[New Zealand, USA]","[English, Quenya, Old English, Sindarin]","[Noel Appleby, Ali Astin, Sean Astin, David As...","[Adventure, Drama, Fantasy]",This Christmas the journey ends.,Gandalf and Aragorn lead the World of Men agai...,[Peter Jackson],201 min,https://www.imdb.com/title/tt0167260/,1596400.0

In [427]:
df_filtered.shape

(4458, 17)

In [428]:
df_filtered.drop_duplicates(subset = ['title'], inplace = True)

/Users/jiristodulka/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [429]:
df_filtered.shape

(3667, 17)

# Amazon Data

In [46]:
amz = pd.read_csv(data_dir + '/baseline_data_ful_info.csv')

In [47]:
print(amz.shape)
print(amz.columns)

(14658, 16)
Index(['overall', 'verified', 'reviewTime', 'reviewerID', 'asin', 'style',
       'reviewerName', 'reviewText', 'summary', 'unixReviewTime', 'vote',
       'image', 'title', 'char_count', 'reviewer_rating_count',
       'title_rating_count'],
      dtype='object')

In [312]:
print(amz.title.value_counts())

Red 2                                                  55
Guardians of the Galaxy                                52
Guardians of the Galaxy [Blu-ray]                      52
Guardians Of The Galaxy Region Free                    51
Star Trek Into Darkness                                47
                                                       ..
The Andy Griffith Show - The Complete Second Season     2
This Christmas                                          2
The Carol Burnett Show: Carol's Favorites               1
Doc Martin, Series 7                                    1
I Can Do Bad All By Myself                              1
Name: title, Length: 1284, dtype: int64

In [55]:
# YOU WILL NEED TO INSTALL fuzzywuzzy PACKAGE
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

In [53]:
df_filtered.title.nunique()

1253

In [ ]:
def FindCloseTitle(df_filtered, amz):
    '''
    Desc.: Replace titles in amazon dataset with the ones that are the clossest match in IMBD
        
    '''
    neat_titles = df_filtered['title'].astype(str).unique().tolist()
    amazon_title= amz['title'].astype(str).unique().tolist()

    new_amazon_neat_titles = [] # here we will want to replace
    highest_ratio = []
    
    for i in range (len(amazon_title)):
        ratios_list = []
        for j in range (len(neat_titles)):
            ratio = fuzz.token_sort_ratio(amazon_title[i].lower(), neat_titles[j].lower())
            ratios_list.append(ratio)
        highest_ratio_index = ratios_list.index(max(ratios_list))
        highest_ratio.append(max(ratios_list))
        new_amazon_neat_titles.append(neat_titles[highest_ratio_index])

    old_new = pd.DataFrame({'old': amazon_title ,'new': new_amazon_neat_titles , 'ratio': highest_ratio})
    old_new['is_same'] = old_new['old'] == old_new['new']
    old_new['above_trashold'] = np.where(old_new['ratio']>=85, True, False)

    
    old_new_selected = old_new[old_new['above_trashold']==True]
    merged_selec = pd.merge(amz,old_new_selected, how = 'left', left_on = 'title', right_on = 'old' )
    merged_selec['ratio'] = merged_selec['ratio'].fillna('missing')
    
    
    def replace_old(merged_selec):
        if merged_selec['ratio'] == 'missing':
            return np.nan
        else:
            return(merged_selec['new'])

    merged_selec['title'] = merged_selec.apply(lambda x:replace_old(x), axis = 1 )
    neat_titles_amazon = merged_selec.drop(['ratio', 'is_same', 'above_trashold'], axis = 1)
    neat_titles_amazon
    
    return neat_titles_amazon

### The bellow is the function broken down to smaller parts

In [430]:
neat_titles = df_filtered['title'].astype(str).unique().tolist()
amazon_title= amz['title'].astype(str).unique().tolist()
    
new_amazon_neat_titles = [] # here we will want to replace
highest_ratio = []


for i in range (len(amazon_title)):
    ratios_list = []
    for j in range (len(neat_titles)):
        ratio = fuzz.token_sort_ratio(amazon_title[i].lower(), neat_titles[j].lower())
        ratios_list.append(ratio)
    highest_ratio_index = ratios_list.index(max(ratios_list))
    highest_ratio.append(max(ratios_list))
    new_amazon_neat_titles.append(neat_titles[highest_ratio_index])

In [449]:
old_new = pd.DataFrame({'old': amazon_title ,'new': new_amazon_neat_titles , 'ratio': highest_ratio})
old_new['is_same'] = old_new['old'] == old_new['new']
old_new['above_trashold'] = np.where(old_new['ratio']>=85, True, False)

In [452]:
old_new[['old','new', 'above_trashold','ratio']]

,old,new,above_trashold,ratio
0,Joseph VHS,The Joneses,False,57
1,The Very Best of the Bob Newhart Show 6 VHS,Beneath the Planet of the Apes,False,55
2,The Crossing VHS,Miller's Crossing,False,73
3,Air Force One,One Fine Day,False,64
4,Steel Magnolias VHS,Steel Magnolias,True,88
...,...,...,...,...
1279,Victory at Sea: The Complete Series by Mill Cr...,Star Wars: Episode V - The Empire Strikes Back,False,50
1280,Game of Thrones: The Complete 6th Season,Halloween III: Season of the Witch,False,61
1281,The Legend of Tarzan,The Legend of Zorro,False,67
1282,Central Intelligence,A.I. Artificial Intelligence,False,68
1283,Independence Day Resurgence,Independence Day,False,74

### just keeping up those above the trashold (those that are more likely to match)

In [453]:
old_new_selected = old_new[old_new['above_trashold']==True]
merged_selec = pd.merge(amz,old_new_selected, how = 'left', left_on = 'title', right_on = 'old' )
merged_selec['ratio'] = merged_selec['ratio'].fillna('missing')

#### Replacing

In [454]:
def replace_old(merged_selec):
    if merged_selec['ratio'] == 'missing':
        return np.nan
    else:
        return(merged_selec['new'])
    
merged_selec['title'] = merged_selec.apply(lambda x:replace_old(x), axis = 1 )
neat_titles_amazon = merged_selec.drop(['ratio', 'is_same', 'above_trashold'], axis = 1)
neat_titles_amazon

,overall,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,vote,image,title,char_count,reviewer_rating_count,title_rating_count,old,new
0,5.0,True,"04 13, 2015",A2OI3HU0KN4118,0005119367,{'Format:': ' DVD'},Shantal N.,Thanks for everything.,Five Stars,1428883200,NaN,NaN,NaN,22.0,78,50,NaN,NaN
1,5.0,True,"04 15, 2014",A385J7MEM932DL,0005119367,{'Format:': ' DVD'},Jim,This one was really interesting! Loved it com...,Bible Story,1397520000,NaN,NaN,NaN,208.0,82,50,NaN,NaN
2,5.0,True,"04 27, 2017",AIVTZDMB297BG,0767001311,{'Format:': ' DVD'},Alan Denman,funny,Five Stars,1493251200,NaN,NaN,NaN,5.0,101,42,NaN,NaN
3,4.0,True,"12 2, 2016",AXOX48S8K994V,0767001311,{'Format:': ' DVD'},Amazon Customer,Great series,Four Stars,1480636800,NaN,NaN,NaN,12.0,64,42,NaN,NaN
4,4.0,True,"10 13, 2016",A3J9LLWHZH15HG,0767001311,{'Format:': ' DVD'},JJ,I happen to like Bob Newhart even though he is...,"Well done, amusing series.",1476316800,NaN,NaN,NaN,535.0,93,42,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14653,5.0,True,"11 14, 2016",A3G6QZJBB466TC,B01HC3880G,{'Format:': ' DVD'},tundrakid,good,Five Stars,1479081600,NaN,NaN,NaN,4.0,76,72,NaN,NaN
14654,5.0,True,"11 13, 2016",A137WEXVKECX61,B01HC3880G,{'Format:': ' DVD'},Michael Militello,Great movie. Just as good as the first.,DVD,1478995200,NaN,NaN,NaN,39.0,69,72,NaN,NaN
14655,4.0,True,"11 13, 2016",A1IRFAUJUS0IWY,B01HC3880G,{'Format:': ' DVD'},Lynda Dunbar,Pretty good movie. Not as good as the first o...,Pretty Good Movie,1478995200,NaN,NaN,NaN,161.0,185,72,NaN,NaN
14656,5.0,True,"10 30, 2016",A2PA624DT1CXOS,B01HC3880G,{'Format:': ' DVD'},Laura,Haven't watched this movie yet but I'm sure it...,DVD,1477785600,NaN,NaN,NaN,53.0,87,72,NaN,NaN
14657,2.0,True,"10 18, 2016",AJ2LH4FFW4QYX,B01HC3880G,{'Format:': ' DVD'},warren,"poop! it's all poop! writer, director on cra...",poop,1476748800,NaN,NaN,NaN,101.0,95,72,NaN,NaN

In [455]:
final_df = pd.merge(neat_titles_amazon, df_filtered, how = 'left', left_on = 'title', right_on = 'title')

`^^^: new amazon dataset that has the same titles corresponding to ones in IMBD `

In [456]:
final_df.title.nunique()

373

In [481]:
final_df.dropna( subset= ['title'],axis = 'rows',inplace = True)

In [480]:
final_df.to_csv(data_dir + '/amazon_unique_title_common_imbd_info.csv',index = False)

In [ ]:
###